.post-detail {
  max-width: 800px !important;

  .post-detail-title {
    font-size: 2.3rem;
    font-weight: bold;
    max-width: 85%;
    margin: 50px auto 0 auto;
  }

  .post-detail-author {
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 85%;
    margin: 35px auto 50px auto;
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      height: 70px;
    }

    div {
      margin-left: 10px;
      p {
        margin: 0;
      }
    }

    .post-detail-author-name {
      font-size: 1.5rem;
    }

    .post-detail-author-email {
      font-size: 1rem;
    }
  }

  .post-content {
    margin-top: 20px;
  }

  .divider {
    margin: 40px 0 40px 0;
  }

  .post-detail-comments {
    .comment {
      border-radius: 5px;
      padding: 5px 20px 5px 20px;
      margin-top: 15px;
      font-weight: 100;

      .comment-author-container {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .comment-author-avatar {
          border-radius: 50%;
          margin-right: 10px;
          height: 70px;
        }
        
        h5 {
          margin: 0;
        }

        .comment-author {
          font-size: 1rem;
          &.comment-author-email {
            margin-left: 10px;
          }
        }
      }

      .comment-content {
        margin: 20px 0 20px 0;
        p {
          margin: 0;
        }
      }
    }

    .comments-not-found {
      margin-top: 50px;
      font-weight: 100;
    }
  }

  .post-detail-load-button-container {
    text-align: center;
    margin-bottom: 40px;
  }

  .post-detail-mock {
    margin-top: 50px;

    .progress {
      background-color: #fffebd;
      .indeterminate {
        background-color: #c1bf9c;
      }
    }

    .post-detail-title {
      max-width: 80%;

      .progress {
        height: 18px;
      }
    }
    .post-content {
      margin-top: 60px;

      .progress {
        height: 12px;
      }
    }

    .comments-mock {
      padding: 20px;
      border-radius: 10px;
      height: 300px;

      .progress {
        height: 15px;
        margin-bottom: 40px;

        &:first-child {
          height: 20px;
          max-width: 60%;
          margin-bottom: 60px;
        }
      }
    }
  }

  .post-detail-error-message {
    color: darkgoldenrod;
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .post-detail {
    .post-detail-comments {
      max-width: 80%;
      margin: 0 auto 0 auto;
    }
  }
}