.postsContainer {
  margin-top: 50px;
  color: white;
}

.post-list-load-more-container {
  margin: 50px;
  text-align: center;
}

.post {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  .post-title-container>p{
    margin: 0;
  }

  .post-title {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  .post-author {
    font-size: 1rem;
    margin-left: 5px;
  }

  .post-preview {
    font-size: 1.250rem;
  }

  .post-read-more {
    color: #fff;
    border-radius: 10px;
    border: 2px solid;
    font-size: 0.9rem;
    padding: 5px 10px;
    display: inline-block;
  }

  &.parallax-container {
    height: unset;
  }

  .parallax {
    background-color: black;
    
    img {
      transition: opacity 0.3;
      opacity: 0.5 !important;
    }
  }
}

.post-mock {
  background-color: rgba(0,0,0,0.7);
  height: 380px;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;

  .progress {
    height: 20px;
    background-color: #fffebd;
    margin: 15px 0 15px;

    &:first-child {
      max-width: 90%;
    }
    &:nth-child(2) {
      max-width: 70%;
    }
    &:nth-child(3) {
      max-width: 60%;
    }
    &:nth-child(4) {
      max-width: 55%;
    }
    &:nth-child(5) {
      margin: 50px 0 50px;
      max-width: 20%;
    }
    &:nth-child(6) {
      max-width: 65%;
    }
    &:nth-child(7) {
      max-width: 80%;
    }
    &:nth-child(8) {
      max-width: 40%;
    }

    .indeterminate {
      background-color: #c1bf9c;
    }
  }
}

@media screen and (min-width: 601px) {
  .post {
    .post-title-container {
      width: 70%;
    }
    .post-preview-container {
      width: 70%;
    }
    .post-preview {
      font-size: 1.250rem;
    }
  }
}

@media screen and (min-width: 801px) {
  .post {
    .post-title-container {
      width: 50%;
    }
    .post-preview-container {
      width: 50%;
    }
  }
}

@media screen and (min-width: 992px) {
  .postsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    &:first-child, &:nth-child(10n + 1) {
      flex-basis: 100%;

      .post-title-container {
        width: 50%;
      }
      .post-author {
        font-size: 1.3rem;
      }
      .post-preview-container {
        width: 50%;
      }
      .post-preview {
        font-size: 1.250rem;
      }
    }
    
    .post-title-container {
      width: unset;
    }
    .post-preview-container {
      width: unset;
    }
    flex-basis: 32.5%;
  }

  .post-mock {
    flex-basis: 32%;
    &:first-child {
      flex-basis: 100%;
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}