.post-detail {
  max-width: 800px !important;

  .post-detail-title {
    font-size: 2.3rem;
    font-weight: bold;
    max-width: 85%;
    margin: 50px auto 0 auto;
  }

  .post-content {
    margin-top: 20px;
  }

  .divider {
    margin: 40px 0 40px 0;
  }

  .post-detail-comments {
    .comment {
      border-radius: 5px;
      padding: 5px 20px 5px 20px;
      margin-top: 15px;
      font-weight: 100;

      h5 {
        margin-bottom: 0;
      }

      .comment-email {
        text-transform: lowercase;
        font-size: 1rem;
      }
    }

    .comments-not-found {
      margin-top: 50px;
      font-weight: 100;
    }
  }

  .post-detail-load-button-container {
    text-align: center;
    margin-bottom: 40px;
  }

  .comments-load-spinner-container {
    text-align: center;
  }

  .post-detail-mock {
    margin-top: 50px;

    .progress {
      background-color: #fffebd;
      .indeterminate {
        background-color: #c1bf9c;
      }
    }

    .post-detail-title {
      max-width: 80%;

      .progress {
        height: 18px;
      }
    }
    .post-content {
      margin-top: 60px;

      .progress {
        height: 12px;
      }
    }

    .comments-mock {
      padding: 20px;
      border-radius: 10px;
      height: 300px;

      .progress {
        height: 15px;
        margin-bottom: 40px;

        &:first-child {
          height: 20px;
          max-width: 60%;
          margin-bottom: 60px;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .post-detail {
    .post-detail-comments {
      max-width: 80%;
      margin: 0 auto 0 auto;
    }
  }
}